<BsNavbar @class="fixed-top flex-md-nowrap" @collapsed={{this.collapsed}} @onCollapse={{fn (mut this.collapsed) true}} @onExpand={{fn (mut this.collapsed) false}} as |navbar|>
  <div class="navbar-header">
    {{navbar.toggle}}
    <LinkTo @route="index" class="navbar-brand">Expert Advice</LinkTo>
  </div>
  <navbar.content>
    <navbar.nav @class="ml-auto" as |nav|>
      {{#if this.session.user.email}}
        <nav.item>
          {{#nav.link-to "index"}}{{this.session.user.email}}{{/nav.link-to}}
        </nav.item>
        <nav.item>
          {{#nav.link-to "login"}}Logout{{/nav.link-to}}
        </nav.item>
      {{else}}
        <nav.item>
          {{#nav.link-to "login"}}Login{{/nav.link-to}}
        </nav.item>
        <nav.item>
          {{#nav.link-to "signup"}}Register{{/nav.link-to}}
        </nav.item>
      {{/if}}
    </navbar.nav>
  </navbar.content>
</BsNavbar>
